:root{
    --outerSpace: #2c3338;
    --shuttleGrey: #606468;
    --gallery: #eee;
    --athensGrey: #f8f9fa;
    --sanMarino: #3f51b5;
    --hummingBird: #ddf1fa;
    --blizzardBlue: #9fd8f1;
}

body {
	background-color: var(--athensGrey);
}

.title {
    font-size: 1.4em;
    margin-bottom: 24px;
}

.login-container {
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	height: 100vh;
	width: 100vw;
}

input {
	border: 0;
	color: inherit;
	font: inherit;
	margin: 0;
	outline: 0;
	padding: 0;
	width: 100%;
}

.form.login {
	max-width: 30em;
	width: 80%;
}

.login .label.label--icon {
	background-color: var(--gallery);
}

.login .label.label--icon,
input,
input,
.login-btn{
	padding: 1rem;
}

.form__input-wrapper {
	width: 100%;
	position: relative;
}

input,
input {
	border-bottom: 2px solid var(--hummingBird);
	position: relative;
}

input:focus + .underline-wrapper > .underline,
input:focus + .underline-wrapper > .underline {
	transform: scale(1);
}

.underline-wrapper {
	position: relative;
}

.underline {
	background-color: var(--blizzardBlue);
	display: inline-block;
	height: 2px;
	margin-top: -2px;
	position: absolute;
	transform: scale(0, 1);
	transition: all 0.2s linear;
	width: 100%;
}

.login-btn{
	background-color: var(--hummingBird);
	color: var(--outerSpace);
	cursor: pointer;
    border: none;
    width: 100%;
    height: 56px;
    transition: all 0.3s ease-in-out;
    margin: 0.875rem;
}

.login-btn:focus,
.login-btn:hover {
	background-color: var(--blizzardBlue);
	color: var(--gallery);
}

.form__field {
	margin: 0.875rem;
}

.form__field--id,
.form__field--password {
	display: flex;
}

.icon {
	display: inline-block;
	fill: var(--shuttleGrey);
	font-size: 1rem;
	height: 1em;
	vertical-align: middle;
	width: 1em;
}


.cartoon-container {
	width: 22em;
	margin-bottom: 2.5em;
}


@media only screen and (min-width: 960px) {
	body {
		background-color: white;
	}

	.overlay {
		height: 100vh;
		width: 100vw;
		max-height: 100vh;
		max-width: 100vw;

		clip-path: polygon(10% 0%, 70% 0%, 90% 100%, 30% 100%);
		z-index: -100;
		background-color: var(--athensGrey);
		top: 0;
		position: absolute;
		display: inline-block;
		overflow: hidden;
	}
}
